fastapi
uvicorn[standard]

sqlmodel
psycopg2-binary
pydantic-settings

alembic

alembic

prometheus-fastapi-instrumentator

fastapi-limiter
redis
asgi-correlation-id
python-json-logger

fastapi-limiter
redis
asgi-correlation-id
python-json-logger
